html { font-size: 1vw; }

*{
  margin: 0;
  padding: 0;
}

#root{
  height: 100vh;
}



.navbar{
  height: 5%;
  display: flex;
  flex-direction: row-reverse;
  background-color: #dde7ee;
  list-style-type: none;
}
.navbar li {
  padding-right: 20px;
}

/* dashboard */

.parentwind{
  overflow: hidden;
  height: 95%;
 
}

.slidewind{
  width: 200vw;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.slidewind > ul {

  display: flex;
  padding: 0px;
  top:10%;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  z-index: 1;
  font-size: 2vw;
  
}

.intern-li{
  margin-right: 8vw;
  min-width: 10vw;
  text-align: center;
  cursor: pointer;
}
.proj-li{
  min-width: 10vw;
  text-align: center;
  cursor: pointer;
}


.catboxes{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
}
.box-row{
  display: flex;
  height: 75%;
  width: 50%;
  
  justify-content: space-evenly;
  align-items: center;

}

.dashbox{
  width: 18%;
  height: 50%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.dashbox > h2{
  align-self: flex-start;
  height: 15%;
  line-height: 5vh;
  margin-left: 10%;
}


.dragList, .lowHalf{
  height: 85%;
  display: flex;
  flex-direction: column;
  width:100%;
  justify-content: space-evenly;
  align-items: center;

}
.list-min{
  width:40%;
  position: sticky;
  top: 10%;
}
.dragList > button{
  min-width: 30%;

  min-height: 12%;
  align-self: flex-end;
  border-radius: 3px;

  font-size: 2vh;
  font-weight: bold;
  margin-right: 10%;
  padding: 5px;
}
.btn-active{
  background-color: rgb(54, 127, 252);
  color: white
}
.btn-inactive{
  background-color: rgb(193, 195, 198);
  color: black;
  opacity: 0.3;
  
}





button:focus {outline:0;}


/* marketplace */
.canvas{
  color: #00509e; /*Denne blåfargen er NTNU blå*/
  width: 30%;
  margin-left: 40px;

}

.tab{
  border: 1px solid black;
  background-color: white;
  margin: 0 2px;
  color: black;
  padding: 1%;
  cursor: pointer;
  width: 15%;
  display: inline-block;
}

/*Erstatte med active for å få tab-looken?*/
.tab:hover{
  border-bottom: 1px solid white;
}

.frame{
  border: 1px solid black;
  margin: -0.5px 2px 0;
}

.mp-container { 
  display: flex;
  
}
.toolbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;

}

/*Søkebar + new-button*/
.search {
  margin: 2%;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;  
}

.search p {
  padding: 0 20px;
  border: 1px solid black;
}
.search button {
  background-color: #f1d282;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  box-shadow: 2px 2px 3px rgb(119, 119, 119);
  cursor: pointer;
}
/*Dette er boksene som inneholder de forskjellige
bachelor og internship mulighetene*/
.boxes {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.boxes-min{
  width: 60%;
  display: grid;
  grid-template-columns: auto auto;
}

.prioList{
  display: flex;
  flex-direction: column;
  background-color: lightcoral;
  width:40%;
}





/*Grid og styling for hver enkelt boks*/
.box {
  width: 25em;
  height: 12.5em;
  box-sizing: border-box;
  display: grid;
  grid-template: 'h h h'
                 'o o o'
                 't t t';
  grid-gap: 5px;
  margin: 5%;
  padding: 2%;
  border: 1px solid black;
  text-align: center;  
  cursor: pointer;
}

.box h2 {
  grid-area: h;
}

.box h3 {
  grid-area: o;
}

/*Styling av tags*/

.tagslist {
  list-style-type: none;
}

.tagslist li {
  color: black;
  margin: 2%;
  border-radius: 5px;
  background-color: #f1d282;
  grid-area: t;
  /*For skygge på bokser: box-shadow: 2px 1px 3px rgb(119, 119, 119);*/
}

/*Styling av headings 1-2*/
h1, h2, h3 {
  color: #00509e;
}

.popup-open{ /*Vinduet som popper opp når man trykker på en boks*/
  width: 70%;
  height: auto;
  padding: 30px;
  background-color: #f4f7f9;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "h h h"
  "s s s"
  "m m m"
  "b b b";
  grid-gap: 2.5em;
  position: absolute;
  top: 20vh;
  left: 10%;
  box-shadow: 4px 4px 14px 0px rgba(0.2,0.2,0.2,0.5);
  overflow-y: auto; /*Lar vinduet scrolle om det er mye tekst*/
  z-index: 5;
}
.popup-open > p { /*Lukk vinduet*/
  grid-area: h;
  grid-column: 3/3;
  text-align: right;
  cursor: pointer;
}
.title { /*Tittel på prosjekt og eier*/
  grid-area: h;
  grid-column: 1/3;
}
.info { /*Om dato, poc og tags*/
  grid-area: s;
  align-items: start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.2em;
}

.content { /*Selve beskrivelsen av prosjektet*/
  height: 10em;
  grid-area: m;
}

.popup-closed{
 
  display: none;
}




/*Form for adding new internships/projects*/

.form-visible {
  width: 70%;
  height: auto;
  padding: 2%;
  background-color: #f4f7f9;
  border: 1px solid gray;
  position: absolute;
  top: 20vh;
  left: 10%;
  box-shadow: 4px 4px 14px 0px rgba(0.2,0.2,0.2,0.5);
  overflow-y: auto; /*Lar vinduet scrolle om det er mye tekst*/
  z-index: 5;
}





.form-visible .forminfo {
  display: grid;
  grid-template-areas: 't t t' 
                       'n a r'
                       'n a r'
                       'n a r';
  margin-bottom: 50px;
}

.form-visible input {
  border: 1px solid black;
  border-radius: 1px;
}

.form-visible .formtitle {
  width: 100%;
  grid-area: t;
  font-weight: bold;
  margin-bottom: 50px;
}


.form-visible input[type="text"] {

  width: 75%;
  padding: 5px;
  margin: 5px;
  
  
}
.form-visible .formleft {
  display: grid;
  grid-area: n;
}
.form-visible .formmiddle {
  display: grid;
  grid-area: a;
}

.form-visible .formright {
  display: grid;
  grid-area: r;
  
}

.form-visible .formright select{
  margin-left: 15px;
}

.form-visible textarea {
  width: 75%;
  height: 150px;
  padding: 1%;
}

.form-visible .formdesc label {
  align-self: center;
}

#formsubmit {
  padding: 10px 20px;
  float: right;
  background-color: #f1d282;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgb(119, 119, 119);
  cursor: pointer;
}
.form-invisible {
  display: none;
}

/*___________ABOUT PAGE____________*/

.about-container {
  margin-top: 50px;
  padding: 0 10%;
}

.about-container h1, h2, h3 {
  margin: 25px 0;
  text-transform: uppercase;
}
.header-logo {
  height: 30px;
}

.header-logo-height {
  width: 150px;
  display: none;
}




/*________MEDIA SCREEN MAX 800PX________*/
@media screen and (max-width:800px) { /*box-grid for mindre skjermer*/
  /*Change the grid on the boxes on the marketplace*/
  .boxes {
    display: grid;
    grid-template-columns: auto auto;
  }

  /*Switch logo shown on the about-page*/
  .header-logo {
    display: none;
  }
  .header-logo-height {
      display: block;
  }
}