.canvas{
  color: darkblue;
  width: 30%;
  margin-left: 40px;

}

.tab{
  border: 1px solid black;
  background-color: lightblue;
  color: black;
  padding: 1%;
  cursor: pointer;
  width: 30%;
  display: inline-block;
}

/*Dette er boksene som inneholder de forskjellige
bachelor og internship mulighetene*/
.boxes {
  margin: 2%;
  padding: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.box {
  text-align: center;
  border: 1px solid black;
  grid-row-start: 1;
  grid-row-end: 2;
  display: inline-grid;
  box-sizing: border-box;
}

.window{
  
}