html { font-size: 1vw;
margin-bottom: 75px; }

*{
  margin: 0;
  padding: 0;
}

#root{
  height: 100vh;
}


.navbar, footer{
  height: 5%;
    display: flex;
    flex-direction: row-reverse;
    background-color: #ececec;
    list-style-type: none;
    align-items: center;
}
.navbar li {
  padding-right: 20px;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* dashboard */

.parentwind{
  overflow: hidden;
  height: 95%;
 
}

.slidewind{
  width: 200vw;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.slidewind > ul {

  display: flex;
  padding: 0px;
  top:10%;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  z-index: 1;
  font-size: 2vw;
}
li {
  text-transform: capitalize;
}

.intern-li{
  margin-right: 8vw;
  min-width: 10vw;
  text-align: center;
  cursor: pointer;
}
.proj-li{
  min-width: 10vw;
  text-align: center;
  cursor: pointer;
}


.catboxes{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
}
.box-row{
  display: flex;
  height: 75%;
  width: 50%;
  
  justify-content: space-evenly;
  align-items: center;

}
.groupBox >div:first-of-type{
  display: flex;
  justify-content:space-evenly;
  align-items: center;

}
.groupBox > .lowHalf > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;

}

.groupBox button{
  padding: 5px;
  background-color: #00509e;
  color: white;
  font-weight: bold;
    min-width: 24%;
    height: 28px;
    cursor: pointer;
}

.uploadPop-vis{
  height: 100vh;
    width: 100vw;
    background-color: #808080e6;
    position: fixed;
    /* margin: auto auto; */
    top: 0;
    left: 0;
    z-index: 5;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mypostWind-int, .mypostWind-proj{
  height: 100vh;
    width: 100vw;
    background-color: #808080e6;
    position: fixed;
    /* margin: auto auto; */
    top: 0;
    left: 0;
    z-index: 5;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.uploadPop-invis{
  display: none;
}

.canEdit{
  background-color: white;
    border: 1px solid black;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.noEdit{
  width: 80%;
  background-color: white;
    height: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.content > .noEdit {
  width: 100%;
}
.noEdit > div {
  border: unset
}


.noEdit > button, .canEdit > button{
  padding: 7px 40px;
  /* background-color: blue; */
  /* color: white; */
  font-weight: bold;
  font-size: 1em;

}

.DraftEditor-root{
  
  width: 90%;
  height: 70%;
  border: 1px solid #afafaf;
  padding: 20px;
  overflow: auto;

}

.RichEditor-controls{
  align-self: flex-start;
    margin-left: 2em;
    min-height: 3em;
    display: flex;
    align-items: center;

}

.RichEditor-controls > span{
  background-color: #f3f3f3;
    padding: 5px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
}

.dashbox{
  width: 18%;
  height: 60%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.dashbox > h2{
  align-self: flex-start;
  height: 15%;
  line-height: 5vh;
  margin-left: 10%;
}


.dragList, .lowHalf{
  height: 85%;
  display: flex;
  flex-direction: column;
  width:100%;
  justify-content: space-evenly;
  align-items: center;

}
.list-min{
  width: 36%;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  padding: 4% 0%;
  height: 14em;
}
.dragList > button{
  min-width: 30%;

  min-height: 12%;
  align-self: flex-end;
  border-radius: 3px;

  font-size: 2vh;
  font-weight: bold;
  margin-right: 10%;
  padding: 5px;
  cursor: pointer;
    transition: 0.3s ease-out;
}

.select-wrapper{
  display: flex;
  flex-direction: column;
}

.select-wrapper > span:nth-of-type(2){
  color: blue;
  font-weight: bold;
}

.btn-active{
  background-color: #00509e;
  color: white
}
.btn-inactive{
  background-color: rgb(193, 195, 198);
  color: black;
  opacity: 0.3;
  
}

.exit{
  background-color: white;
    padding: 5px 18px;
    margin-left: auto;
    margin-right: 4%;
    margin-top: 1em;
    font-weight: bold;
    font-size: 2em;
    
}

.uploadField{
  height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00509e;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.uploadField:hover{
  background-color: #c7defb;
}



button:focus {
  outline: 0;
}


/* marketplace */
.canvas{
  color: #00509e; /*Denne blåfargen er NTNU blå*/
  width: 30%;
  margin-left: 40px;

}

.main{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main > ul{
  display: flex;
  width: 80%;

}

.tab{
  border: 1px solid black;
  border-bottom: none;
  background-color: white;
  margin: 0 2px;
  color: black;
  padding: 1%;
  cursor: pointer;
  width: 15%;
  display: inline-block;
}


.tab-active{
  background-color:#00509e;
  color:white;
}

.frame{
  border: 1px solid black;
  margin: -0.5px 2px 0;
  width:81%;
}

.mp-container { 
  display: flex;
  
}
.toolbar{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 86%;
  
  padding: 2% 0%;

}
.ideaButton{
  background-color: #00509e;
    color: white;
    font-size: 80%;
    border-radius: 3px;
    padding: 7px 3%;
    font-weight: bold;
    border: 1px solid #5f5f5f;
    white-space: nowrap;
    cursor: pointer;
}

.nonButton{
  background-color: #00509e;
  color: white;
    font-size: 80%;
    border-radius: 3px;
    padding: 7px 3%;
    font-weight: bold;
    border: 1px solid #5f5f5f;
    white-space: nowrap;
    cursor: pointer;
    opacity: 0.4;
}
/*Søkebar */
.search {
  margin-right: auto;
    margin-left: 6%;
    width: 30%;
}

.search input{
  padding: 3% 1%;
  width: 100%;
}

.checkboxes{
  margin-right: 4%;
    display: flex;
    align-items: center;
}

.checkboxes > label{
  margin-right: 3%;
    font-weight: bold;
}

.checkboxes > input{
  margin-right: 3%;
}

.search p {
  padding: 0 20px;
  border: 1px solid black;
}
/*Dette er boksene som inneholder de forskjellige
bachelor og internship mulighetene*/
.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;

}

.boxes-min{
  width: 60%;
  display: grid;
  grid-template-columns: auto auto;
}
.mypost-boxes{
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mypost-boxes > h3{
  margin-left: 5%;
}

.mypostwraper > .box{
  position: relative;
}

.mypost-prio{
  width: 80%;
    height: 70%;
    display: flex;
    align-items: flex-end;
    background-color: white;
    margin: auto;
}

.mypost-prio > .dragList{
  height: 100%;
}

.activebanner{
  background-color: #1D6001 /* #40d203d1 */;
    padding: 11px 0px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 43%;
    color: white;
    text-transform: capitalize;
    /* text-shadow: 2px 0px 3px black; */
    box-shadow: 0px 5px 5px 0px #00000080;
    font-weight: bold;
}

.mypost-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.prioList{
  display: flex;
  flex-direction: column;
  background-color: lightcoral;
  width:40%;
}





/*Grid og styling for hver enkelt boks*/
.box {
  min-height: 75%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(119, 119, 119);
  text-align: center;
  cursor: pointer;
  margin: 2% 15% 15% 15%;
  padding: 4% 7%;
}

.box h2 {
  margin: 25px 0;
}

.box h3 {
  font-size: 75%;
}

/*Styling av tags*/

.tagslist {
  list-style-type: none;
  
    display: flex;
    flex-wrap: wrap;
}

.tagslist li {
  color: black;
    margin: 2%;
    border-radius: 3px;
    background-color: #f1d282;

    padding: 3px 13px;
    font-size: 80%;
  /*For skygge på bokser: box-shadow: 2px 1px 3px rgb(119, 119, 119);*/
}

/*Styling av headings 1-2*/
h1, h2, h3 {
  color: #00509e;
}
h1 {
  text-align: center;
  padding: 0 0 50px 0px;
  font-size: 50px;
  /* visibility: hidden; */
}

.popup-open{ /*Vinduet som popper opp når man trykker på en boks*/
  width: 70%;
  height: auto;
  padding: 30px;
  background-color: #f4f7f9;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "h h h"
  "s s s"
  "m m m"
  "b b b";
  grid-gap: 2.5em;
  position: absolute;
  top: 8vh;
    left: 13.5%;
  box-shadow: 4px 4px 14px 0px rgba(0.2,0.2,0.2,0.5);
  overflow-y: auto; /*Lar vinduet scrolle om det er mye tekst*/
  z-index: 5;
}
.popup-open > p { /*Lukk vinduet*/
  grid-area: h;
  grid-column: 3/3;
  text-align: right;
  cursor: pointer;
}
.title { /*Tittel på prosjekt og eier*/
  grid-area: h;
  grid-column: 1/3;
}
.info { /*Om dato, poc og tags*/
  grid-area: s;
  align-items: start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.2em;
}

.content { /*Selve beskrivelsen av prosjektet*/
 
  grid-area: m;
}

.popup-closed{
 
  display: none;
}




/*Form for adding new internships/projects*/

.form-visible {
  width: 70%;
  height: auto;
  padding: 2%;
  background-color: #f4f7f9;
  border: 1px solid gray;
  position: absolute;
  top: 8vh;
    left: 13.5%;
  box-shadow: 4px 4px 14px 0px rgba(0.2,0.2,0.2,0.5);
  overflow-y: auto; /*Lar vinduet scrolle om det er mye tekst*/
  z-index: 5;
}

.form-visible .forminfo {
  display: grid;
  grid-template-areas: 't t t' 
                       'n a r'
                       'n a r'
                       'n a r';
  margin-bottom: 50px;
}

.form-visible input {
  border: 1px solid black;
  border-radius: 1px;
}

.form-visible .formtitle {
  width: 100%;
  grid-area: t;
  font-weight: bold;
  margin-bottom: 50px;
}


.form-visible input[type="text"] {

  width: 75%;
  padding: 5px;
  margin: 5px;
  
  
}
.form-visible .formleft {
  display: grid;
  grid-area: n;
}
.form-visible .formmiddle {
  display: grid;
  grid-area: a;
}

.form-visible .formright {
  display: grid;
  grid-area: r;
  
}

.form-visible .formright select{
  margin-left: 15px;
}

.form-visible textarea {
  width: 75%;
  height: 150px;
  padding: 1%;
}

.form-visible .formdesc label {
  align-self: center;
}


.form-invisible {
  display: none;
}


/*____________SIGN UP FOR COMPANIES AND SIGN IN___________*/

.regForm {
  width: 30%;
  height: auto;
  padding: 2%;
  margin: 5% auto;
  top: 10vh;
  box-shadow: 4px 4px 14px 0px rgba(0.2,0.2,0.2,0.5);

}

.regForm form, p, h1 {
  margin-top: 30px;
}

.regForm input {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
  padding: 1%;
}

.regForm input[type="checkbox"]{
  width: 10%;
  margin-bottom: 15px;
}
.regForm input[type="submit"], .edit, .approve, .addtolist, .texteditor, #formsubmit {
  margin-top: 25px;
  margin-right: 10px;
  background-color: #f1d282;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgb(29, 29, 29);
  cursor: pointer;
  width: 25%;
  padding: 10px;
}
.groupbuttons{
  border-radius: 5px;
}



/*___________ABOUT PAGE____________*/

.about-container {
  margin-top: 50px;
  padding: 0 10%;
}

.about-container h1, h2, h3 {
  margin: 25px 0;
  text-transform: uppercase;
}
.header-logo {
  height: 30px;
}

.header-logo-height {
  width: 150px;
  display: none;
}


.misc-tool{
  position: absolute;
    right: 12%;
    top: 11%;
    background-color: #d0d0d0;
    font-size: 2em;
    border-radius: 100px;
    padding: 20px;
    cursor: pointer;
    z-index: 50;
}


.miscWindow{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 4% 0% 10%;
}

ul.companies {
  list-style: none;
    width: 100%;
}

li.compTab {
  display: flex;
    min-height: 12em;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-start;
    flex-wrap: wrap;
}

.compInfo {
  flex-basis: 30%;
  display:flex;
  flex-direction: column;
}
.compInfo > span:first-of-type{
  color: #080863;
  font-size: 2em;
  font-weight: bold;
}

.compInfo > span:nth-child(2) {
  color:  #080863;
  font-weight: bold;
}

ul.slots {
  flex-basis: 67%;
    height: 7em;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    padding: 1% 1%;
    border: 1px solid black;
}

.slot {
  width: 15%;
  background-color: #cacaca;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slot-active{
  width: 15%;
  background-color: #72f1a5;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.students{
  width: 70%;

  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 9%);
  list-style: none;
  grid-gap: 5px;
  
}
.students > li{
  overflow: hidden;
    text-overflow: ellipsis;
    background-color: #003577cc;
    cursor: pointer;
    height: 2em;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.students > li:hover {
  overflow: visible;
}
.students > li:hover>ul {
  display: flex;
}
.studPrio{
  display: none;
  background-color: #ffffff;
    flex-direction: column;
    position: absolute;
    width: 90%;
    font-size: 70%;
    padding: 4% 4%;
    font-weight: 600;
    top: 120%;
    /* border: 1px solid gray; */
    color: black;
    list-style: none;
    box-shadow: 0px 2px 5px 4px #00000066;
}

.studPrio > li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.compPrio{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 5em;
    font-size: 90%;
    list-style: none;
    margin-top: 2%;
}

.windowTitle{
  visibility: hidden;
  position: absolute;
}

.justText{
  padding: 0% 9%;
    display: flex;
    width: auto;
    justify-content: flex-start;
    font-size: 1em;
    font-weight: 600;
}

.closeForm{
  position: absolute;
    right: 2%;
    top: -1%;
    background-color: white;
    padding: 10px 17px;
    border: 1px solid black;
}

/*________MEDIA SCREEN MAX 800PX________*/
@media screen and (max-width:800px) { /*box-grid for mindre skjermer*/
  /*Change the grid on the boxes on the marketplace*/
  .boxes {
    display: grid;
    grid-template-columns: auto auto;
  }

  /*Switch logo shown on the about-page*/
  .header-logo {
    display: none;
  }
  .header-logo-height {
      display: block;
  }
}

